body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 197, 255, 0.856);
}
form{
    text-align:center;
    }
input {
    width: 500px;
    height: 50px;
    padding: 2px 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25;
    -ms-border-radius: 25x;
    -o-border-radius: 25px;
    border: none;
    box-shadow: inset 0 0 3px black;
    font-size: 30px;

    
}

input:hover {
    box-shadow: inset 0 0 5px black;
}

input:active {
    box-shadow: inset 0 0 5px black;
}


button {
    background: purple;
    float: 0;
    border: none;
    padding: 25px 50px 25px 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: white;
}

button:hover {
    background-color: rgb(160, 57, 180);
    box-shadow: 1px 1px 20px rgb(75, 75, 75);
    padding: 26px 52px 26px 52px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

button:active {
    background-color: rgba(160, 57, 180, 0.753);
}

.row {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px 0px;
}

* {
    outline: none
}